body{
  margin: 0;
  color: white;
  background-color: black;
  padding: 20px;
}

.main-container{
  height: 100vh;
}

.text-center{
  text-align: center;
}

.normal-box{
  height: 150px;
  width: 150px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

.magic-box{
  height: 150px;
  width: 150px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  box-shadow: 0 0  10px 5px #6666ff;
  animation: rotate 5s linear infinite;
}


